.tweets {
  flex: 1 0 80vh;
  border: 2px solid var(--tweets-component-color);
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Tweet 컴포넌트 */

.tweet {
  background: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
  border: none !important; 
}

.tweet:hover {
  background-color: var(--shade-color);
}

.tweet__profile {
  padding: 0.2rem;
}

.tweet__profile > img {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.tweet__content {
  flex: 1 0 0;
}

.tweet__userInfo > .tweet__username {
  color: var(--point-color) !important; 
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.tweet__userInfo > .tweet__createdAt {
  color: var(--sub-text-color);
  margin-left: 0.5rem;
}

.tweet__message {
  color: var(--default-text-color);
  line-height: 1.5; 
}
